@media (min-width: 992px) {
	h1.title {
		font-size: 5rem;
	}

	.header {
		grid-template-rows: repeat(3, 1fr);

		&__text {
			grid-row: 2/4;

			p {
				font-size: 1.8rem;
			}
		}

		&__img {
			background-image: url("../img/textiles_1920.jpg");
		}

		&__arrow {
			display: block;
			position: absolute;
			bottom: 3em;
			left: 50%;
			border: 0.7px solid rgb(95, 113, 113);
			border-radius: 50%;
			scale: 1.4;
		}
		&__arrow-icon {
			width: 50px;
			scale: 0.7;
		}
	}

	.nav {
		position: absolute;
		top: 40rem;
		grid-column: 1/-1;
		grid-row: 1/2;
		padding: 1em;
		display: block;
		// position: fixed;
		transform: translateX(0);
	

		&__link {
			color: $white;
		}
	}

	.hamburger {
		display: none;
	}
}

@media (min-width: 1200px) {
	.header {
		&__text {
			p {
				font-size: 2.2rem;
			}
		}
	}
}
