@use './colors' as *;



@media (min-width: 992px) {

.section-title {
	font-size: 4.8rem;

	&::before {
		height: 4px;
	}
}

	h1.title {
		font-size: 5rem;
	}

	.header {
		grid-template-rows: repeat(3, 1fr);

		&__text {
			grid-row: 2/4;

			p {
				font-size: 1.8rem;
			}
		}

		&__img {
			background-image: url("../img/textiles_1920.jpg");
		}

		&__arrow {
			display: block;
			position: absolute;
			bottom: 3em;
			left: 50%;
			border: 0.7px solid rgb(95, 113, 113);
			border-radius: 50%;
			scale: 1.4;
		}
		&__arrow-icon {
			width: 50px;
			scale: 0.7;
		}
	}

	.nav {
		bottom: auto;
		background-color: $darker;
		padding: 1em;
		display: block;
		position: fixed;
		transform: translateX(0);
		&__link {
			color: $white;
			font-size: 1em;
		}
	}

	.hamburger {
		display: none;
	}

	.footer {
		&__bottom-text {
			font-size: 0.8em;
		}
	}

	@media (min-width: 1200px) {
		.header {
			&__text {
				p {
					font-size: 2.2rem;
				}
			}
		}
	}
}
